.Account section:first-of-type > article:first-of-type::after {
    content: "";
    display: block;
    background-color: #aaa;
    width: 100%;
    height: .2rem;
    margin-top: 2rem;
}

.Account > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "title ."
        "col1 col2";
}

 .Account *:first-child {
     margin-bottom: 2rem;
 }

.Account section:first-of-type {
    grid-area: col1;
    margin-right: 2rem;
}

.Account section:last-of-type {
    grid-area: col2;
}

.Account input {
    margin-top: 2rem;
    width: 200px;
}

.Account article {
    position: relative;
}

.Account span {
    position: absolute;
    top: 0;
    right: 0;
    font-family: authentic_bold;
    color: #828282;
}

.Account aside > * {
    margin: 0 0 0 0 !important;
}

.Logout h3 {
    margin-bottom: 2rem;
}

@media screen and (max-width: 639px) {
    .Account > div {
        display: flex;
        flex-direction: column;
    }

    .Account section {
        margin: 0 !important;
    }

    .Account section:last-of-type::before {
        content: "";
        display: block;
        background-color: #aaa;
        width: 100%;
        height: .2rem;
        margin: 2rem 0;
    }
    
}