.AddItem {
    width: 80%;
}

.AddItem input {
    box-sizing: border-box;
    margin-bottom: 2rem;
   width: 100%;
}

.AddItem form section {
    display: flex;
    max-width: none;
}

.AddItem section input[type=text]:first-of-type {
    margin-right: 2rem;
}