/* Where .index.css is generic normalize, App.css is for resets as necessary */

@font-face {
  font-family: 'authentic_light';
  src: url('../font/authenticsans-60-webfont.woff2') format('woff2'),
       url('../font/authenticsans-60-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic';
  src: url('../font/authenticsans-90-webfont.woff2') format('woff2'),
       url('../font/authenticsans-90-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic_bold';
  src: url('../font/authenticsans-130-webfont.woff2') format('woff2'),
       url('../font/authenticsans-130-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic_bolder';
  src: url('../font/authenticsans-150-webfont.woff2') format('woff2'),
       url('../font/authenticsans-150-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  overflow-x:hidden;
  font-family: "authentic";
  font-size: 1.1rem;
}

html,
#root,
body,
.Nav,
.Brand, 
.Category, 
.New, 
.Shop, 
.Item,
.NavList {
  height: 100%;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2, h3 {
  margin: .5rem 0;
}

#root {
  margin: 2rem;
}

input, select {
  background-color: #ddd;
  border: 0;
}

input[type=text] {
  outline: none;
  padding: 0;
}

input[type=number] {
  text-align: center;
  /* box-sizing: border-box; */
  padding: .5rem .25rem ;
}

input[type=submit] {
  font-family: "authentic_bold";
  flex-shrink: 0;
  background-color: black;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  padding: 1rem 1.75rem;
}

select {
  padding: .75rem 1.5rem .75rem .75rem;
  appearance: none;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

a {
  text-decoration: none;
  color: black;
}

/* hack to hide alt text when image is loading */
img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

svg {
  font-size: 1rem;
}