/* Where .index.css is generic normalize, App.css is for resets as necessary */

@font-face {
  font-family: 'authentic_light';
  src: url('../font/authenticsans-60-webfont.woff2') format('woff2'),
       url('../font/authenticsans-60-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic';
  src: url('../font/authenticsans-90-webfont.woff2') format('woff2'),
       url('../font/authenticsans-90-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic_bold';
  src: url('../font/authenticsans-130-webfont.woff2') format('woff2'),
       url('../font/authenticsans-130-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'authentic_bolder';
  src: url('../font/authenticsans-150-webfont.woff2') format('woff2'),
       url('../font/authenticsans-150-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x:hidden;
  font-family: "authentic";
  font-size: .9rem;
}

html,
body,
#root,
.NavFrame,
.Nav,
.NavList,
.Login,
.Dashboard {
  height: 100%;
}

.NavFrame {
  /* position is to give absolutely positioned mobile nav its' height */
  position: relative;
  display: grid;
  grid-template-columns: minmax(min-content,22%) 1fr;
  grid-template-areas: "nav body";
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2, h3 {
  margin: .5rem 0;
}

#root {
  margin: 2rem;
}

button:focus, input[type=submit]:focus {
  outline:0;
}

input, select {
  background-color: #ddd;
  border: 0;
}

input[type=text]:focus, input[type=password]:focus {
  outline: .1rem solid #0c0;
}

input[type=text], input[type=password] {
  outline: none;
  padding: 1rem 1.25rem;
  font-size: 1.17em;
}

input[type=number] {
  text-align: center;
  padding: .5rem .25rem ;
}

input[type=submit]:hover {
  background-color: rgb(0,0,0,.85);
}
/* for whatever reason, active has to be after hover in order to work */
input[type=submit],input[type=submit]:active {
  font-family: "authentic_bolder";
  flex-shrink: 0;
  background-color: black;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  padding: 1rem 1.75rem;
}

select {
  padding: .75rem 1.5rem .75rem .75rem;
  appearance: none;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

a {
  text-decoration: none;
  color: black;
}

/* hack to hide alt text when image is loading */
img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

svg {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  #root {
    margin: 1.5rem;
  }

  .NavFrame {
    grid-template-columns: 100% 100%;
  }
}