/* Where .index.css is generic normalize, App.css is for resets as necessary */

body {
  overflow-x:hidden;
}

html,
#root,
body,
.Nav,
.Brand, 
.Category, 
.New, 
.Shop, 
.Item,
.NavList {
  height: 100%;
  margin: 0;
}