.Cart {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 4rem;
    grid-template-areas: 
    "title title"
    "items total";
}

.Cart h3 {
    margin-bottom: 2rem;
}

.Cart form {
    grid-area: items;
    margin-right: 2rem;
}

.Cart input[type=submit] {
   float: right;
}

.Cart p {
    margin: 2rem 0;
}

.Cart section input {
    margin: 0;
}

.Cart section {
    margin-left: 2rem;
    grid-area: total;
}

.Cart p, .Cart section aside {
    font-size: 1.17em;
    font-weight: bold
}

.Cart aside {
    display: flex;
    justify-content: space-between;
}

.Cart section ul:last-of-type {
    text-align: right;
}

.EmptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.EmptyCart a {
    color: #828282
}

.EmptyCart a:hover {
    color:#0c0;
}

@media screen and (max-width: 639px) { 
    .Cart {
        display: flex;
        flex-direction: column;
    }

    .Cart section::before {
        content: "";
        display: block;
        background-color: #aaa;
        width: 100%;
        height: .2rem;
        margin: 2rem 0;
    }

    .Cart form, .Cart section {
        margin: 0;
    }
}