.CartItem {
    font-size: 1.17em;
    font-weight: bold;
    display: grid;
    grid-template-columns: 160px max-content;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "img info"
        "img remove";
    margin-bottom: 1.2rem;
    column-gap: 1.2rem;
}

.CartItem a {
    grid-area: img;
}

.CartItem img {
    width: 100%;
}

.CartItem input {
    width: 4ch;
}

.CartItem aside {
    cursor: pointer;
}