.Checkout {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.Checkout section:first-of-type {
    margin-right: 2rem;
}

.Checkout section:last-of-type {
    margin-left: 2rem;
}

.Checkout section > h3 {
    margin-bottom: 1.5rem;
}

.Checkout aside {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 1.17em;
    padding-top: .5rem;
}

.Checkout article {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.Checkout Form {
    max-width: 450px;
}

.Checkout input {
    float: right;
}

.Checkout article div {
    padding: .5rem .625rem;
    background-color: #ddd;
}

.Checkout article h3:last-of-type{
    color: red;
}

@media screen and (max-width: 639px) {
    .Checkout{ 
        display: flex;
        flex-direction: column-reverse;
    }

    .Checkout Form {
        max-width: none;
    }

    .Checkout section {
        margin: 0 !important;
    }

    .Checkout section:first-of-type::before {
        content: "";
        display: block;
        background-color: #aaa;
        width: 100%;
        height: .2rem;
        margin: 2rem 0;
    }
    
}