.ContentArea {
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.ContentArea .Page {
    margin: 4rem 0;
    user-select: none;
}

.Page ul {
    display: flex;
}

.Page li {
    font-weight: bold;
    font-size: 1.17em;
    cursor: pointer;
    margin-right: 1rem;
}

.Page #active {
    pointer-events: none;
    color: #0c0;
}

@media (hover: hover) {
    .Page li:hover {
        color: #0c0;
    }
  }