.ContentArea {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 22% 1fr;
    /* prevents resizing due to scrollbar appear/disappear */
    /* at 100vw, when vertical scrollbar appears, it also causes a horizontal scrollbar due to creation of
    area that is now hidden behind vertical scrollbar, so overflow-x:hidden added to body */
    /* width: 100%;
    padding-right: 1vw; */
    grid-template-areas: 
        "nav title"
        "nav items"
        "nav page";
}

.ContentArea .Nav {
    grid-area: nav;
}

.ContentArea .Page {
    grid-area: page;
    width: max-content;
    margin: 2rem 0;
    background-color: pink;
    user-select: none;
}

.Page ul {
    display: flex;
}

.Page li {
    cursor: pointer;
    margin-right: 3rem;
}