.ContentArea {
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.ContentArea .Page {
    width: max-content;
    margin: 4rem 0;
    user-select: none;
}

.Page ul {
    display: flex;
}

.Page li {
    font-family: "authentic_bold";
    cursor: pointer;
    margin-right:1rem;
}

.Page li:hover {
    color: #0c0;
}

.Page #active {
    pointer-events: none;
    color: #0c0;
}