.ContentHeader {
    margin-bottom: 2rem;
    position: relative;
}

.ContentHeader > h3 {
    position: absolute;
    /* max width to prevent long Searchbar result from blocking the filter +/- toggle on narrow phone screens */
    max-width: 95%;
    top: 0;
}