.CreateAccount {
    display: grid;
    grid-template-columns: 22% 1fr;
    grid-template-areas: "nav form";
    /* prevents resizing when scrollbar appears/disappears */
    /* when vertical scrollbar appears, it creates horizontal scrollbar due to
    area that is now hidden behind vertical scrollbar, so add overflow-x:hidden in body */
    /* width: 100vw;
    padding-right: 1vw; */
}

.CreateAccount section {
    max-width: 450px;
}

.CreateAccount section > h3 {
    margin-bottom: 2rem;
}

.CreateAccount form {
    display: flex;
    flex-direction: column;
}

.CreateAccount form article {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.CreateAccount article h3:last-of-type{
    color: red;
}

.AccountForm input[type=submit] {
    align-self: flex-end;
    margin-top: 1rem;
    width: max-content;
}