/* in the future, filter can prob be improved w/ grid auto fill / auto fit */

.Filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Filter aside {
    display: flex;
    cursor: pointer;
}

.Filter h3 {
    margin-left: .5rem;
}

.Filter section {
    /* gets the value of "display:" from Filter.js visibility toggle */
    grid-template-columns: 1fr 1fr auto;
    width: 100%;
    font-family: "authentic_bold";
}

.Filter ul {
    color: #828282;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 20em;
}

#Sort {
    text-align: right;
}

#Sort ul {
    align-items: flex-end;
}


.Filter li {
    cursor: pointer;
    margin-bottom: 1rem;
}

.active {
    color: #0c0;
}

@media screen and (max-width: 768px) {
    .Filter section {
        grid-template-columns: repeat(3,1fr);
    }

    #Sort {
        text-align: left;
    }

    #Sort ul {
        align-items: flex-start;
    }

    .Filter ul {
        flex-wrap: nowrap;
        height: auto;
    }

    .Filter aside h3:last-of-type {
        display: none;
    }
}