.Filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Filter h3 {
    cursor: pointer;
}

.Filter section {
    /* gets the value of "display:" from Filter.js visibility toggle */
    grid-template-columns: 1fr 1fr auto;
    width: 100%;
    font-family: "authentic_bold";
}

.Filter ul {
    color: #828282;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 10em;
}

#Sort {
    justify-self: end;
    text-align: right;
}

#Sort ul {
    align-items: flex-end;
}


.Filter li {
    cursor: pointer;
}

.active {
    color: #0c0;
}