.Filter{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.Filter section {
    flex-direction: row-reverse;
}

.Filter ul {
  padding-left: 5vw;
}

.Filter li {
    width: max-content;
}