.swiper-container {
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
}

.swiper-container, .swiper-pagination {
    z-index: 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination-bullet {
    opacity: 1 !important;
    background-color: #aaa;
    margin: 0 .3rem !important;
    width: .65rem;
    height: .65rem;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-button-prev {
    display: none;
}

.swiper-button-next {  
    opacity: 0;
    left: 0;
    top: 1.5rem;
    width: 100%;
    height: calc(100% - 2.75rem);
}

.swiper-container aside {
    position: absolute;
    font-size: 2.25rem;
    font-family: authentic_bold;
    cursor: pointer;
}

@media (any-hover: none) {
    .swiper-button-next, .swiper-container aside {
        display: none;
    }
}