.Header {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr min-content;
    grid-template-areas: 
        "logo search acct";
    grid-gap: 1.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    border-bottom: .2rem solid #aaa;
    text-align: center;
}

.Header img {
    width: 1.75rem;
    margin-bottom: 1rem;
}

h1 {
    margin: 0 0 1rem 0;
    font-family: "authentic_bolder";
}

.SearchBar {
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.SearchBar form {
    width: 0px;
    transition: .1s;
    margin-bottom: 1rem;
}

.SearchBar input:focus {
    outline: none
}

.SearchBar input {
    width: calc(100% - .5rem);
    font-weight: bold;
    background-color: white;
}

.Header section{
    position: relative;
}

.Header section div{
    position: absolute;
    background-color: #0c0;
    font-size: .8rem;
    line-height: 1.25rem;
    min-width: 1.25rem;
    color: white;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    right: 50%;
    font-family: "authentic_bold";
}

.Menu {
    cursor: pointer;
    display: none;
}

.Menu img:last-child {
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
    .Header { 
        grid-template-columns: min-content 1fr min-content;
        margin-bottom: 1rem;
    }
    .Menu {
        display: block;
    }
    .SearchBar {
        display: none;
    }
}