.Header {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr min-content;
    grid-template-areas: 
        "logo search acct";
    grid-gap: 1rem;
    margin-bottom: 2.5rem;
    position: relative;
    border-bottom: .2rem solid #aaa;
}

h1 {
    margin: 0 0 1rem 0;
    font-family: "authentic_bolder";
}

.SearchBar .wrapper {
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.SearchBar form {
    width: 0;
    transition: .1s;
    text-align: right;
}

.SearchBar input {
    width: calc(100% - .5rem);
}

