.Header {
    background-color: pink;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        "logo . acct";
}

.Header a {
    grid-area: logo;
}

.Header section {
    grid-area: acct;
}
