.ItemControls form {
    display: flex;
    margin-bottom: 2rem;
}

.ItemControls select {
    width: 50%;
    margin-right: 5%;
}

.ItemControls article {
    font-family: "authentic_bold";
    color: firebrick;
    font-size: 1rem;
}

/* ItemControls popup shares css with <Message/>, see Message.css */

.ItemControls section {
    background-color: #aaa !important;
    color: black !important;
}

