.Item {
    padding: .5rem .5rem 0;
}

.Item img {
    width: 100%;
}

.ItemCap {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: start;
}

.ItemCap a {
    background-color: pink;
}


