.ItemControls form {
    display: flex;
    margin-bottom: 2rem;
}

.ItemControls select {
    width: 50%;
    margin-right: 5%;
}

.ItemControls input {
    font-family: "authentic_bold";
    flex-shrink: 0;
    background-color: black;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    padding: 1rem 1.75rem;
}

.ItemControls aside {
    font-family: "authentic_bold";
    color: firebrick;
    font-size: 1rem;
}