.Item {
    display: grid;
    grid-template-columns: minmax(350px, 50%) 1fr;
    column-gap: 2rem;
}

.Item h2 {
    margin-top: 0;
}

.Item p {
    margin: 2rem 0;
}

@media screen and (max-width: 640px) {
    .Item {
        display: flex;
        flex-direction: column;
    }
}