.popup {
    visibility: visible !important;
    opacity: 100 !important;
    transition: 0s !important;
}

.Message {
    user-select: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    background-color: red;
    color: white;
    width: 350px;
    padding: 2rem;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.Message h3 {
    margin: 0;
}

.Message aside {
    cursor: pointer;
    width: min-content;
    margin-left: 1.5rem;
}

.Message img {
    transform: rotate(45deg);
    width: 1.25rem;
}

