.Modal {
    position: absolute;
    left: 0;
}

.Modal article {
    width: 1.75rem;
    cursor: pointer;
}

.Modal div {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    justify-content: center;
}

.Modal div div {
    position: relative;
    width: auto;
    user-select: none;
}

.Modal div section {
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translate(200%, 100%);
}

.Modal div section img {
    transform: rotate(45deg);
    width: 1.75rem;
}

.Modal div img {
    width: auto;
    height: 100%;
}