.Nav {
    position: relative;
    grid-area: nav;
}

.NavWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.TopLevel {
    color: #0c0;
}

.TopLevel::after {
    content: " >";
}

.Nav button {
    width: max-content;
    max-width: 100%;
}

.Nav h3 {
    cursor: pointer;
    width: max-content;
}

.Nav a:hover, .Nav h3:hover {
    color: #0c0;
}

.Nav span {
    color: #828282;
}

.NavList, .Login, .Dashboard {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    background-color: white;
}

.masked::before {
    position: fixed;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.Login, .Dashboard {
    width: 200%;
}

.Login article {
    margin-bottom: 1rem;
}

.Login article  {
    color: red;
}

.Login input[type=text], .Login input[type=password] {
    width: 70%;
}

.Login input[type=submit] {
    width: 200px;
    margin-bottom: 1.5rem;
}

.Login > h3, .Dashboard > h3 {
    margin-bottom: 2rem;
}

.Login h3:hover, .Dashboard h3:hover {
    color: inherit;
    cursor: default;
}

.Login span:hover, .Dashboard span:hover {
    color: #0c0
}

.Dashboard span {
    color: black;
    cursor: pointer;
}