.Nav {
    position: relative;
}

.NavWrapper {
    display: flex;
    flex-direction: column;
  }

.Nav button {
    width: max-content;
    max-width: 100%;
}

.NavList {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    background-color: white;
}
