/* reset some global stuff from .Account lol*/
.OrderHistory h3 {
    margin: 0 0 1rem 0 !important;
}

.OrderHistory article {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 2rem;
    cursor: pointer;
    margin: 0!important;
}

.OrderHistory article h3:not(:first-child), 
.OrderHistory li h3:not(:first-child)  {
    text-align: right;
}

.OrderHistory ul {
    font-size: .8em;
    margin: 1rem 0rem 2rem 0 !important;
}

.OrderHistory li {
    display: grid;
    grid-template-columns: auto auto 17% 17%;
    margin: 0rem !important;
}

.OrderHistory ul > a {
    cursor: pointer;
    color: #828282;
    width: max-content;
}

.OrderHistory ul > a:hover {
    color: #0c0
 }

 .Dropdown {
     margin: 0 !important;
 }

 .Dropdown > div{
     margin-left: auto;
     width: 96%;
 }

@media (hover: hover) {
    .OrderHistory article:hover {
        color: #0c0
    }    
}
