.Shipping {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    grid-area: body;
}

.Shipping input[type=text], .Shipping .Form select  {
    padding: .5rem .75rem;
    width: 100%;
    box-sizing: border-box;
}

.Shipping input[type=radio] {
    cursor: pointer;
    margin: 0 .5rem 1rem 0;
}

.Shipping form h3 {
    color: red;
}

.Shipping aside {
   flex-direction: column;
}

.Shipping input[type=submit] {
    width: 200px;
    float: right;
    margin-top: 2rem;
}

.Shipping form {
    max-width: 450px;
}

@media screen and (max-width: 1024px) {
    .Shipping {
        column-gap: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Shipping  {
        display: flex;
        flex-direction: column;
    }
    
    .Shipping input[type=text], .Shipping .Form select  {
        padding: 1rem 1.25rem;
    }

    .Shipping .Form {
        margin-bottom: 2rem;
    }

    .Shipping section:last-of-type {
        border-top: .2rem solid #aaa;
        padding-top: 1.5rem;
    }
}

@media screen and (max-width: 639px) {
    .Shipping form h3 {
        margin: 1rem 0;
    }
}