.Slider div {
    position: relative;
    height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Slider div::-webkit-scrollbar { 
    display: none;
}

.Slider section {
    position: absolute;
    display: flex;
}

.Slider article, .Slider img {
    width: 100%;
    scroll-snap-align: start;
}

.Slider aside {
    width: max-content;
    margin: 0 auto;
}

.Slider button {
    border: 0;
    border-radius: 50%;
    height: .75rem;
    width: .75rem;
    margin: 1rem .5rem;
    padding: 0;
    cursor:pointer;
}

@media (any-hover: none) {
    .Slider section {
        transform: none !important;
    }
}
