.Slider .wrapper {
    position: relative;
    height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#frame {
    visibility: hidden;
}

.Slider div::-webkit-scrollbar { 
    display: none;
}

.Slider section {
    position: absolute;
    display: flex;
}

.Slider img {
    width: 100%;
    scroll-snap-align: start;
}

.Slider aside {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slider button {
    border: 0;
    border-radius: 50%;
    height: .75rem;
    width: .75rem;
    margin: 0rem .5rem;
    padding: 0;
    cursor:pointer;
}

@media (any-hover: none) {
    .Slider section {
        transform: none !important;
    }

    .Modal {
        display: none;
    }
}